/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
    margin: 0;
    padding: 0;
}

/*html {

    background: #eee;
}*/


html {
  background: url("../files/media/doctor.jpg") no-repeat center center fixed;
height: 100%;


}

body {
    font-family: Montserrat, arial, verdana;
    background: transparent;
}

:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}
/* Navigation Bar */
.navbar{
  padding: 20px 10px 20px 0px;
  background-color: #28a7e9;
  transition: all ease 0.4s;
}
.navbar-brand{
  font-size: 22px;
  color: white !important;
}
.navbar .navbar-nav li a{
  font-size: 16px;
  color: white;
}

/* Animation */
.animate{
  padding: 0px 10px 0px 0px;
  transition: all ease 0.4s;
}

/* Jumbotron */
.jumbotron{
  margin-top: 110px;
}


/*form styles*/
.form {

    position: relative;
    margin-top: 30px;
}

.form fieldset {
    background: white;
    border: 0 none;
    border-radius: 8px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
.form fieldset:not(:first-of-type) {
    display: none;
}


.radioRight{ text-align: right; }

.radioContainer{
    direction:rtl;
    text-align:right !important;
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 22px;
    user-select: none;
    padding-right: 30px;
}
.radioContainer input {
    display:none;


}
.radioContainer .circle{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    direction:rtl;
    text-align:right !important;

}
.radioContainer:hover .circle{
    background-color: #ccc;
}
.radioContainer input:checked + .circle{
    background-color: #2196fc;
}
.radioContainer input:checked + .circle:after{
    content: "";
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.form-field input {
    border: solid 2px #f0f0f0;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    width: 100%;
}

.form-field input:focus {
    outline: none;
}

label {
  display: inline-block;
  width: 80px;
}

.form-field.error input{
    border-color: var(--error-color);
    outline: var(--error-color);
}

.form-field.success input{
    border-color: var(--success-color);
    outline: var(--success-color);
}

.btn-group.error {border: 1px solid var(--error-color); border-radius: 30px; padding: 3px 3px 0 3px; background: var(--error-color);}

.form-field small {
    color: var(--error-color);
}

/*buttons*/
.form .action-button {
    width: 100px;
    background: #2098ce;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

.form .action-button:hover, .form .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #2098ce;
}

.form .action-button-previous {
    width: 100px;
    background: #aCbEd0;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

.form .action-button-previous:hover, .form .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #aCbEd0;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}


